
@model IEnumerable<VotesCalculation>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

<div class="container">
    <h2>Vote Counting</h2>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form action="/Couting/ExecuteStoredProc" method="post">
                <div class="form-group">
                    <label for="partyValue">Select Party:</label>
                    <select class="form-control" name="partyValue">
                        <option value="NepaliCongress">Nepali Congress</option>
                        <option value="RastriyaPrajatantraParty">Rastriya Prajatantra Party</option>
                        <option value="JanamatParty">Janamat Party</option>
                        <option value="RastriyaSwatantraParty">Rastriya Swatantra Party</option>
                        <option value="CommunistPartyofNepal">Communist Party of Nepal</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Count Votes</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
            </form>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-body">
                    <h4>Total Voted Secured</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Counted Votes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CountedVotes</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





