@model VotesCalculation

<form method="post">

    <div class="border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-primary"> Please Vote Wisely</h2>
            <h3 class="text-primary"> Choose The One You Want To Make President </h3>
        </div>
        <div class="mb-3">
            
            <input type="radio" name="VotesCount" value="NepaliCongress" asp-for="VotesCount">
            <label asp-for="VotesCount">Nepali Congress</label>
        </div>
        <div class="mb-3">
            
            <input type="radio" name="VotesCount" value="Rastriya Prajatantra Party" asp-for="VotesCount">
            <label asp-for="VotesCount">Rastriya Prajatantra Party</label>
        </div>
        <div class="mb-3">

            <input type="radio" name="VotesCount" value="JanamatParty" asp-for="VotesCount">
            <label asp-for="VotesCount">Janamat Party</label>
        </div>
        <div class="mb-3">
           
            <input type="radio" name="VotesCount" value="RastriyaSwatantraParty" asp-for="VotesCount">
            <label asp-for="VotesCount">Rastriya Swatantra Party</label>
        </div>
        <div class="mb-3">
           
            <input type="radio" name="VotesCount" value="CommunistPartyofNepal" asp-for="VotesCount">
            <label asp-for="VotesCount">CommunistPartyofNepal</label>
        </div>
        <input type="submit" class="btn btn-primary" style="width:150px" value="Vote" >

    </div>


</form>
<style>


    .center {
        text-align: center;
    }

</style>