@model VotesCalculation

<form method="post">

    <div class="border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-primary"> Please Vote Wisely</h2>
            <h3 class="text-primary"> Choose The One You Want To Make President </h3>
        </div>
        <div class="mb-3">
            
            <input type="radio" name="Party" value="a" asp-for="NepaliCongress">
            <label asp-for="NepaliCongress">Nepali Congress</label>
        </div>
        <div class="mb-3">
            
            <input type="radio" name="Party" value="b" asp-for="RastriyaPrajatantraParty">
            <label asp-for="RastriyaPrajatantraParty">Rastriya Prajatantra Party</label>
        </div>
        <div class="mb-3">

            <input type="radio" name="Party" value="c" asp-for="JanamatParty">
            <label asp-for="JanamatParty">Janamat Party</label>
        </div>
        <div class="mb-3">
           
            <input type="radio" name="Party" value="d" asp-for="RastriyaSwatantraParty">
            <label asp-for="RastriyaSwatantraParty">Rastriya Swatantra Party</label>
        </div>
        <div class="mb-3">
           
            <input type="radio" name="Party" value="e" asp-for="CommunistPartyofNepal">
            <label asp-for="CommunistPartyofNepal">CommunistPartyofNepal</label>
        </div>
        <input type="submit" class="btn btn-primary" style="width:150px" value="Vote" >
    </div>


</form>
<style>


    .center {
        text-align: center;
    }

</style>