<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value based on your needs */
  }
</style>

<div class="container">
    <h1>!!!THANK YOU FOR VOTING!!!</h1>
</div>